@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* * {
  @apply light-mode-forced;
} */


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: light only;
}

.embla {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  gap: 1rem; /* Adds space between slides */
}

.embla__slide {
  flex: 0 0 100%; /* Default: Show 1 slide at a time */
  min-width: 0;
  /* height: 250px;
  width: 250px; */
  padding: 1rem; /* Optional padding inside the slide */
  box-sizing: border-box;
  text-align: center;
  line-height: 200px;
  font-size: 1.5rem;
  color: #333;
}

/* Medium screens: Show 2 slides */
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 calc(50% - 0.5rem); /* Reduce width to show 2 slides */
  }
}

